html, body {
	background-color: #ffffff;
	/* color: #636b6f; */
	/* font-family: 'Raleway', sans-serif; */
	/* font-weight: 200; */
	height: 100vh;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: black;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}
p {
	color: black;
	font-weight: 200;
}
a {
	font-weight: 400;
}
input {
	color: black;
}

/*
SIDEPANEL left
*/
.sidenav {
    height: 90%;
	margin-top: 50px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav h4 {
    padding: 2px 8px 2px 32px;
    /* color: #aeaeae; */
    color: #94c374;
	font-weight:bolder;
    display: block;
    transition: 0.3s;
	background-color: #333;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
	top: -15px;
	right: 0;
    font-size: 25px;
    margin-left: 30px;
}
.opensidepanelbtn {
	font-size:20px;
	cursor:pointer;
	color: #b7b7b7;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#main {
	transition: 0.5s;
}
/*
/SIDEPANEL left
*/

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 84px;
}

.links > a {
	color: #636b6f;
	padding: 0 25px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

/*
navbar
*/
ul.nav.navbar-nav.mainnav > li > a {
	color: #777;
}
.mainnavbarrow {
	background-color: #f2f2f2;
}
ul.nav.navbar-nav.mainnav > li.nav-active {
	background-color: #dce0d7;
}


.panelbackground {
	/* background-color: #f3fff1; */
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	padding: 10px 0 10px 0;
	border: 1px solid #eeffee;
}

.choicepanelbackground {
	/* background-color: #f2f7ff; */
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	padding: 10px 0 10px 0;
	border: 1px solid #ededff;
}

.group-list {
	margin: 0;
	list-style-type:none;
}
.group-list-item{
	float: left;
	margin: 5px 5px 5px 5px;
}

.group-paneldiv {
	padding-top: 10px;
	height: 70px;
	width: 200px;
	border: 1px solid gray;
	/* border-radius: 5%; */
	border-top: 5px solid #bdbdcc;
	background-color: #eeeeee;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
}
.group-paneldiv:hover {
	padding-top: 10px;
	height: 70px;
	width: 200px;
	border: 1px solid gray;
	/* border-radius: 5%; */
	border-top: 5px solid #82bf5e;
	background-color: #f2f2f2;
	-webkit-box-shadow: 0px 0px 22px -15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 22px -15px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 22px -15px rgba(0,0,0,0.5);
}

.choiceinforow {
	background-color: #bfc9de;
}
.choice-paneldiv {
	padding-top: 10px;
	height: 70px;
	width: 200px;
	border: 1px solid gray;
	/* border-radius: 5%; */
	border-top: 5px solid #bdbdcc;
	background-color: #eeeeee;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
}
.choice-paneldiv:hover {
	padding-top: 10px;
	height: 70px;
	width: 200px;
	border: 1px solid gray;
	/* border-radius: 5%; */
	border-top: 5px solid #5e88bf;
	background-color: #f2f2f2;
	-webkit-box-shadow: 0px 0px 22px -15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 22px -15px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 22px -15px rgba(0,0,0,0.5);
}

.eventpanelbackground {
	/* background-color: #f2f7ff; */

	padding: 0 0 10px 0;
	/* border: 1px solid red; */
}

.eventinforow {
	background-color: #e7e5bc;
	height: 44px;
}
.event-paneldiv {
	padding-top: 10px;
	height: 101px;
	width: 225px;
	border: 1px solid gray;
	/* border-radius: 5%; */
	border-top: 5px solid #bdbdcc;
	background-color: #eeeeee;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
	margin-top: -16px;
	margin-bottom: 20px;
}
.event-paneldiv:hover {
	padding-top: 10px;
	height: 101px;
	width: 225px;
	border: 1px solid gray;
	/* border-radius: 5%; */
	border-top: 5px solid #e3a14c;
	background-color: #f2f2f2;
	-webkit-box-shadow: 0px 0px 22px -15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 22px -15px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 22px -15px rgba(0,0,0,0.5);
	margin-top: -16px;
	margin-bottom: 20px;
}

.group-panelinfo {
  color: gray;
  font-size: 12px
}

/*
Table inside every paneldivlink
*/
.groupdashboardtable {
	width: 100%;
}
.groupnamecell {
	padding-bottom:5px;
}
.groupinforow {
	background-color: #c3debf;
}
.groupemptystylecell {
	width:10%;
	height: 29px;
	padding: 5px
}
.choiceemptystylecell {
	width:85%;
	height: 29px;
	padding: 5px
}



.paneldivlink:hover {
	text-decoration: none;
}
.dropdown-menu > li > a.disabled-link{
	color: #c4c4c4;
	pointer-events: none;
	cursor: none;
}

.m-b-md {
	margin-bottom: 30px;
}

table > tbody > tr.addmemberrow {
	height: 40px;
}
